.dash{
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--bg);
    overflow: hidden;
    
    --gap: 8px;
    --left-panel-x: 16px;
    --left-panel-w: 260px;
    --left-panel-gap: 72px;
    --right-panel-w: 290px;
}

.dash.left-open{
  --left-safe: calc(var(--left-panel-x) + var(--left-panel-w) + var(--left-panel-gap));
}

.dash.left-closed{
  --left-safe: 64px;
}

/* el mapa siempre al fondo */
.dash > :first-child {
    z-index: 0;
}

/* cuando el right panel está abierto, el “safe right” es panel + gap */
.dash.right-open{
  --right-safe: calc(var(--right-panel-w) + var(--gap));
}

/* cuando está cerrado, solo el gap */
.dash.right-closed{
  --right-safe: var(--gap);
}
